@model KehadiranFormViewModel

        <div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Data Kehadiran</h3>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>create data</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form asp-controller="Kehadiran" asp-action="Create" data-parsley-validate class="form-horizontal form-label-left">
                            <div asp-validation-summary="All"></div>
                            <div class="form-group">
                                <label asp-for="NamaJenisIbadah" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select asp-for="KodeJenisIbadah" asp-items="@ViewBag.JenisIbadah" class="form-control">
                                        <option>Pilih Jenis Ibadah</option>
                                    </select>
                                    <span asp-validation-for="KodeJenisIbadah"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Tanggal" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input asp-for="Tanggal" required="required" class="form-control col-md-7 col-xs-12">
                                    <span asp-validation-for="Tanggal"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="NamaJenisJemaat" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-3 col-sm-3">
                                    <input asp-for="KodeJenisJemaat" value="Jemaat Pria" readonly="readonly" class="form-control col-md-7 col-xs-12">
                                    <span asp-validation-for="KodeJenisJemaat"></span>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <input asp-for="Jumlah" required="required" class="form-control col-md-7 col-xs-12">
                                    <span asp-validation-for="Jumlah"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-3 col-sm-3">
                                    <input asp-for="KodeJenisJemaat" value="Jemaat Wanita" readonly="readonly" class="form-control col-md-7 col-xs-12">

                                    <span asp-validation-for="KodeJenisJemaat"></span>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <input asp-for="Jumlah" required="required" class="form-control col-md-7 col-xs-12">
                                    <span asp-validation-for="Jumlah"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-3 col-sm-3">
                                    <input asp-for="KodeJenisJemaat" value="GKI Lain - Pria" readonly="readonly" class="form-control col-md-7 col-xs-12">

                                    <span asp-validation-for="KodeJenisJemaat"></span>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <input asp-for="Jumlah" required="required" class="form-control col-md-7 col-xs-12">
                                    <span asp-validation-for="Jumlah"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-3 col-sm-3">
                                    <input asp-for="KodeJenisJemaat" value="GKI Lain - Wanita" readonly="readonly" class="form-control col-md-7 col-xs-12">

                                    <span asp-validation-for="KodeJenisJemaat"></span>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <input asp-for="Jumlah" required="required" class="form-control col-md-7 col-xs-12">
                                    <span asp-validation-for="Jumlah"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-3 col-sm-3">
                                    <input asp-for="KodeJenisJemaat" value="Simpatisan Pria" readonly="readonly" class="form-control col-md-7 col-xs-12">

                                    <span asp-validation-for="KodeJenisJemaat"></span>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <input asp-for="Jumlah" required="required" class="form-control col-md-7 col-xs-12">
                                    <span asp-validation-for="Jumlah"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-3 col-sm-3">
                                    <select asp-for="KodeJenisJemaat" asp-items="@ViewBag.JenisJemaat" class="form-control">
                                        <option>Pilih Jenis Jemaat</option>
                                    </select>
                                    <span asp-validation-for="KodeJenisJemaat"></span>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <input asp-for="Jumlah" required="required" class="form-control col-md-7 col-xs-12">
                                    <span asp-validation-for="Jumlah"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                @*<label asp-for="Jumlah" class="control-label col-md-3 col-sm-3 col-xs-12"></label>*@
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @*<input asp-for="Jumlah" required="required" class="form-control col-md-7 col-xs-12">
                                        <span asp-validation-for="Jumlah"></span>*@
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button class="btn btn-primary" type="button">Cancel</button>
                                    <button class="btn btn-primary" type="reset">Reset</button>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
